@page "/nombre"

<h3>Nombre Magique</h3>

@if (gameWon.HasValue)
{
    if (gameWon.Value)
    {
        <h2>Gagné ! 🎉</h2>
    }
    else
    {
        <h2>Perdu 😢</h2>
    }
    <button class="btn btn-primary" @onclick="() => ReinitGame()">Rejouer</button>
}
else
{
    <div>
        <h4>Devinez le nombre compris entre 0 et @NbMax</h4>
    </div>
    <div>
        <input type="number" @bind="value" />
        <button class="btn btn-primary" @onclick="() => TestNumber()">Tester</button>
    </div>
    <div>
        @for (int i = 0; i < nbRemainingLifes; i++)
        {
            <span style="color:red; font-size:24px;">&hearts;&nbsp;</span>
        }
    </div>
}




@code{
    protected const int NbLifesMax = 5;
protected const int NbMax = 20;

protected int value;
protected int nbMagic;
protected int nbRemainingLifes;
protected bool? gameWon;

protected override void OnInitialized()
{
    ReinitGame();
    base.OnInitialized();
}

protected void ReinitGame()
{
    var random = new Random();

    nbMagic = random.Next(NbMax);
    nbRemainingLifes = NbLifesMax;
    gameWon = null;
}


protected void TestNumber()
{
    if (value == nbMagic)
    {
        gameWon = true;
    }
    else
    {
        nbRemainingLifes--;
        if (nbRemainingLifes == 0)
        {
            gameWon = false;
        }
    }
}

}